<h1 class="todo_list_title">Forgot password?</h1>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="forms">
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Send" %>
    </div>
  </div>
<% end %>

<div class="links">
  <%= link_to 'Back', new_user_session_path %>
</div>
